templates:
  params:
    author-name: 'Your Name'           # replace with your name
    author-email: 'your email address' # replace with your email
    category: AtCoder
    copyright: 'Year Your name'        # replace with this year and your name

allow-newer: true

notify-if-nix-on-path: false
